<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alunos - Escola do seu raimundo</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Alunos</h1><br>
    <table>
        <thead>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Matrícula</th>
        </thead>
        <tr>
            <td>Matheus</td>
            <td>(85)99999-9999</td>
            <td>123456789</td>
        </tr>
        <tr>
            <td>Tamires</td>
            <td>(85)99999-9999</td>
            <td>123456789</td>
        </tr>
        <tr>
            <td>Pom</td>
            <td>(85)99999-9999</td>
            <td>123456789</td>
        </tr>
        <tr>
            <td>Letícia</td>
            <td>(85)99999-9999</td>
            <td>123456789</td>
        </tr>
    </table>
</body>
</html>