<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escola do seu raimundo</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Escola do seu Raimundo</h1>
    <p>A escola do seu Raimundo foi criada papappapappa....</p>
    <img href="../static/images/idfmosif.png" alt="Imagem de elefante">
</body>
</html>